.boardArticle table {width:720px}

.boardArticle th {padding:5px 0;border-top:2px solid #666;border-bottom:1px solid #666}

.boardArticle td {padding:8px 0;border-bottom:1px solid #666}
.boardArticle .no {width:60px;text-align:center}
.boardArticle .title {}
.boardArticle .memberId {width:100px;text-align:center}
.boardArticle .date {width:100px;text-align:center}
A:link {text-decoration:none; color:black;}
A:visited {text-decoration:none; color:black;}
A:hover {text-decoration:none; color:red;}



#boardWrite table {width:720px}
#boardWrite th {width:100px;padding:5px;text-align:left;;vertical-align: top}
#boardWrite td {width:620px;padding:5px}

#boardWrite #membetId {width:180px}
#boardWrite #title {width:400px}
#boardWrite #content {width:550px;height:300px}

#boardWrite .btnSet {text-align:center}


#password table {width:720px;vertical-align: center;}
#password th {width:100px;padding:5px;text-align:left;;vertical-align: center}
#password td {width:620px;padding:5px}

#password #password {width:180px;padding:5px}

#password .btnSet {text-align:center}
