#register table {width:720px}
#register th {width:100px;padding:5px;text-align:left;;vertical-align: top}
#register td {width:620px;padding:5px}

#register #title {width:550px}
#register #teacher {width:550px}
#register #date {width:550px}
#register #time {width:550px}
#register #place {width:550px}
#register #peoples {width:30px}
#register #charge {width:100px}
#register #content {width:550px; height: 300px}
#register #image {width:550px}

#register .btnSet {text-align:center}
